src/ModelGenerator/*/*.cc
src/ModelGenerator/*/*.hh
_build/
doc/html/
doc/latex/
doc/man/
*muFile
*matrixFile
*.native
*~
bin/
*.dat
*.res
*.log
*.in
*.DS_Store
*.dylib
*.jnilib
doc/overview.pdf
*csvResultFile
*camlResultFile
*prismLabel.lbl
*prismMatrix.tra
*prismOutput
*prismProperty.ctl
*prismStates.sta
*lumpingfunTmp.cpp
Examples/*/tmpCosmos-*/
Examples/*/tmp
Examples/*/*.sage.py
Examples/maxEntropy/prism
Examples/maxEntropy/twoears.sage
XCCosmos/Cosmos.xcodeproj/project.xcworkspace/xcuserdata/barbot.xcuserdatad/UserInterfaceState.xcuserstate
XCCosmos/Cosmos.xcodeproj/xcuserdata/*
includes/
*.html
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
m4
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
XCCosmos/Cosmos.xcodeproj/project.xcworkspace/xcshareddata/
ar-lib
compile
config.guess
config.sub
depcomp
include/
install-sh
lib/
ltmain.sh
missing
ylwrap
Examples/maxEntropy/*exp*
prism/bin
prism/classes
prism/cudd/include
prism/obj
build_*/
#modelConvert/buildSimulink.sh
#modelConvert/test.sh
modelConvert/*.slx
prism2SPT/\[Content_Types\].xml
prism2SPT/_rels/
prism2SPT/metadata/
prism2SPT/simulink/
doc/manual.aux
doc/manual.synctex.gz
doc/manual.pdf
testSK/tmpCosmos-*/
testSK/ClientSim
*.byte
modelConvert/markingImpl.hpp
modelConvert/SKModel.cpp
modelConvert/SKModel.hpp
modelConvert/SKModel.grml
.*.swp
testMC/tmpCosmos-*/
testMC/ClientSim
testMC/markingImpl.hpp
testMC/SKModel.cpp
testMC/SKModel.hpp
testMC/SKModel.grml
testMC/tmp
testMC/SKModelCommons.cpp
