Obj/*
SOURCES/Cosmos/LHA.cpp
SOURCES/Cosmos/spn.cpp
SOURCES/Cosmos/lumpingfun.cpp
SOURCES/Cosmos/markingImpl.hpp
*/_build/*
doc/html/*
doc/latex/*
doc/man/*
*muFile
*matrixFile
*.native
bin/*
*.dat
*.res
*.log
*.in
doc/overview.pdf
*prismLabel.lbl
*prismMatrix.tra
*prismOutput
*prismProperty.ctl
*prismStates.sta
*lumpingfunTmp.cpp
*~
XCCosmos/Cosmos.xcodeproj/project.xcworkspace/xcuserdata/barbot.xcuserdatad/UserInterfaceState.xcuserstate
XCCosmos/Cosmos.xcodeproj/xcuserdata/*
includes/*
*.html
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
/build*/
m4
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
