<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClientSim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Cosmos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CosmosMakefile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CosmosSim - statespace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CosmosSim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CosmosSimBURE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LigthLibrairie copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LigthLibrairie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>POMDP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>classes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libClientSim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>makefile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0312873E180B0A220018560F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03128742180B0A4F0018560F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0341401B15AEF45E0009FEFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>034509A516A80AC8002088B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0367E2A118843EAB00F35619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B6EE8C1487BB8F0099A6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03BBD5EE1A80D0D700492779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03BBD5FE1A80DF5200492779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03DD8DE0143B00AE0013AF06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03FB40F218180F9D001F9988</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76F620486A84900D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
